.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    .article {
        min-width: 560px;
        padding: 10px;
        .article-title {
            font-size: 18pt;
        }
        a {
            cursor: pointer;
        }
    }
    .delete-icon {
        width: 20%;
        visibility: hidden;
        cursor: pointer;
        color: tomato;
    }
    .showDelete {
        visibility: visible !important;
    }
}

.new-article {
    padding: 20px;
    .article-title {
        display: flex;
        width: 14%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
        input {
            margin-left: 5px;
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    }
}